@media only screen and (min-width: 960px) {
    .echarts-for-react {
        width: 60%;
    }

    .em-chart-details {
        width: 40%;
    }

    .em-chart-group .em-dummy-button {
        visibility: hidden;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 959px) {
    .echarts-for-react {
        width: 100%;
    }

    .em-chart-group .em-dummy-button {
        display: none;
    }
}

.em-chart-group {
    margin-bottom: 20px;
}

.em-chart-group .echarts-for-react, 
.em-chart-group .em-chart-details {
    vertical-align: top;
    display: inline-block;
}
